@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #dde6ed;
    --foreground: #27374d;
  }

  .dark {
    --background: #27374d;
    --foreground: #dde6ed;
  }
}

@layer base {
  * {
    font-family: "Sour Gummy", sans-serif;
  }
  body {
    @apply dark bg-background text-foreground antialiased;
  }
}

@layer utilities {
  .flex-jcenter {
    @apply flex justify-center;
  }
  .flex-icenter {
    @apply flex items-center justify-center;
  }
  .flex-jbetween {
    @apply flex justify-between;
  }
}
